/* .divhw{
    width: 400px;
    background-color: aqua;
    height: 100px;
}
.divhw2{
    width: 400px;
    background-color: goldenrod;
    height: 100px;
}
.divhw3{
    width: 400px;
    background-color: greenyellow;
    height: 100px;
}

.h1hw4{
    color: purple;
} */
